aside {
    background-color: #e3e3e3;
    padding: 5px;
    margin: 0px;
}

li{
    list-style: none;
}

.level,  .fa-solid.fa-star , .fa-regular{
    color: #17abb3;
    float: right;
}

.fa-solid.fa-square{
    color: #17abb3;
    font-size: 9px;
    ;
}