section {
    background: #ffffff;
    padding: 30px;
}

section p {
    overflow: auto;
    text-align: justify;  
    text-indent: 30px; 
    line-height: 1.6
    }


time {
    color: #17abb3;
    font-weight: 600;
    float: right;
    margin-left: 12px;
}


.formation-item {
    margin: 8px 0;
    padding: 10px;
    padding-left: 15px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.formation-item:hover {
    background-color: #eff5f6;
    border-left: 4px solid #17abb3;
}
